#logo {
    position: static;
    width: 78px;
    height: 68px;
    flex: none;
    margin: 10px 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 665px 48px 140px;
    position: static;
    width: 100%;
    margin: 10px 0;
}

#hello {
    position: static;
    height: 45px;
    font-family: Commissioner, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 45px;
    color: #14142A;
    flex: none;
    margin: 16px 0;
}

#hello2 {
    position: static;
    width: 564px;
    height: 48px;
    top: 61px;
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #262338;
    flex: none;
    order: 1;
    margin: 16px 0;
}

.gameLogo {
    position: static;
    width: 188px;
    height: 188px;
    flex: none;
    flex-grow: 0;
    margin: 0 36px;
}

.quizzTitle {
    position: static;
    width: 78px;
    height: 36px;
    left: 0;
    top: 0;
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    color: #14142A;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0;
}

.quizzSubTitle {
    position: static;
    width: 411px;
    height: 60px;
    left: 0;
    top: 44px;
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #4E4B66;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0;
}

.game {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    position: static;
    width: 635px;
    height: 188px;
    left: 0;
    top: 0;
    background: #FFFFFF;
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 64px 0;
}

.buttonsBlock {
    display: flex;
    padding-top: 20px;
}

.listenButton {
    position: static;
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #316EED;
    order: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 28px;
    width: 141px;
    height: 52px;
    left: 0;
    top: 0;
    background: #FFFFFF;
    border: 2px solid #316EED;
    box-sizing: border-box;
    border-radius: 8px;
    flex: none;
    flex-grow: 0;
    margin: 0;
}

.readButton {
    outline: none;
    border: none;
    float: right;
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 28px;
    position: static;
    width: 134px;
    height: 52px;
    left: 277px;
    top: 0;
    background: #316EED;
    border-radius: 8px;
    order: 1;
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    flex: none;
    flex-grow: 0;
}

.gameForm {
    width: 50%;
}

.listenButton .icon {
    top: 16.67%;
    bottom: 18.52%;
    width: 18px;
}

.readButton .icon {
    padding-left: 6px;
    left: 12.5%;
    right: 12.5%;
    top: 25.84%;
    bottom: 15.83%;
}
