<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/>
	<title>Learn numbers in Ukrainian</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
	<link href="https://fonts.googleapis.com" rel="preconnect">
	<link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
<p id="title">Quizz Ukrainian number</p>
<div id="menu">
	<form class="menu-form" action="#" th:action="@{/read}" method="get">
		<input type="submit" value="Read"/>
	</form>
	<form class="menu-form" action="#" th:action="@{/listen}" method="get">
		<input type="submit" value="Listen"/>
	</form>
</div>
</body>
</html>
