<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: head"></head>
<div th:replace="fragments/banner :: div"></div>
<body>
<div class="intro">
	<p id="hello">Hello from Ukraine 👋🏻</p>
	<p id="hello2">Quizzy is a website with small games for learning Ukrainian. Make learning awesome!</p>
</div>
<div id="menu">
	<div class="game">
		<img class="gameLogo" src="../static/images/days.svg" th:src="@{images/days.svg}" alt="days">
		<div class="gameBlock">
			<div class="quizzTitle">Days</div>
			<div class="quizzSubTitle">
				Are you still confused about what is Ukrainian Sunday, whether it is a Середа or Субота?
				This game is perfect choice for you!
			</div>
			<div class="buttonsBlock">
				<form class="gameForm" action="#" th:action="@{/days-listen}" method="get">
					<button class="listenButton" type="submit" value="Listen">
						Listen
						<img role="img" class="icon" src="../static/images/icon/listen.svg"
							 th:src="@{images/icon/listen.svg}" alt="listenDays">
					</button>
				</form>
				<form class="gameForm" action="#" th:action="@{/days}" method="get">
					<button class="readButton" type="submit" value="Read">
						Read
						<img role="img" class="icon" src="../static/images/icon/read.svg"
							 th:src="@{images/icon/read.svg}" alt="readDays">
					</button>
				</form>
			</div>
		</div>
	</div>
	<div class="game">
		<img class="gameLogo" src="../static/images/numbers.svg" th:src="@{images/numbers.svg}" alt="numbers">
		<div class="gameBlock">
			<div class="quizzTitle">Numbers</div>
			<div class="quizzSubTitle">
				If you're scared of paying at the stores and have chaos in your head from all those сто, п’ятдесять.
				Pick this quiz ;)
			</div>
			<div class="buttonsBlock">
				<form class="gameForm" action="#" th:action="@{/numbers-listen}" method="get">
					<button class="listenButton" type="submit" value="Listen">
						Listen
						<img role="img" class="icon" src="../static/images/icon/listen.svg"
							 th:src="@{images/icon/listen.svg}" alt="listenNumbers">
					</button>
				</form>
				<form class="gameForm" action="#" th:action="@{/numbers}" method="get">
					<button class="readButton" type="submit" value="Read">
						Read
						<img role="img" class="icon" src="../static/images/icon/read.svg"
							 th:src="@{images/icon/read.svg}" alt="readNumbers">
					</button>
				</form>
			</div>
		</div>
	</div>
	<div class="game">
		<img class="gameLogo" src="../static/images/months.svg" th:src="@{images/months.svg}" alt="months">
		<div class="gameBlock">
			<div class="quizzTitle">Months</div>
			<div class="quizzSubTitle">If you're in doubt, what's the best month for a vacation?
				Червень, серпень чи травень?
				Choose this game!
			</div>
			<div class="buttonsBlock">
				<form class="gameForm" action="#" th:action="@{/months-listen}" method="get">
					<button class="listenButton" type="submit" value="Listen">
						Listen
						<img role="img" class="icon" src="../static/images/icon/listen.svg"
							 th:src="@{images/icon/listen.svg}" alt="listenMonths">
					</button>
				</form>
				<form class="gameForm" action="#" th:action="@{/months}" method="get">
					<button class="readButton" type="submit" value="Read">
						Read
						<img role="img" class="icon" src="../static/images/icon/read.svg"
							 th:src="@{images/icon/read.svg}" alt="readMonths">
					</button>
				</form>
			</div>
		</div>
	</div>
	<div class="game">
		<img class="gameLogo" src="../static/images/food.svg" th:src="@{images/food.svg}" alt="food">
		<div class="gameBlock">
			<div class="quizzTitle">Food</div>
			<div class="quizzSubTitle">Do you want to become a real Ukrainian? So it’s time to try борщ, сало і
				холодець! Choose this exercise but be careful, after it, you will definitely want to eat :)
			</div>
			<div class="buttonsBlock">
				<form class="gameForm" action="#" th:action="@{/food}" method="get">
					<button class="readButton" type="submit" value="Read" style="float: left;">
						Read
						<img role="img" class="icon" src="../static/images/icon/read.svg"
							 th:src="@{images/icon/read.svg}" alt="readFood">
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>
