<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<div th:replace="fragments/banner :: div"></div>
<body>
<div>
	<p id="guess" th:utext="${guess.ukrainian}">...</p>
</div>
<form action="#" th:action="@{/answer}" method="post" th:object="${answer}" th:each="e: ${list}">
	<input type="submit" th:value="${e.english}">
	<input id="answer" type="hidden" th:name="answer" th:value="${e.ukrainian}">
	<input id="solution" type="hidden" th:name="solution" th:value="${guess.ukrainian}">
</form>
</body>
</html>
